<% content_for :title do %>Webstats<% end %>
<div class="gridster">
  <ul>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="tam_usage_daily" data-view="Graph" data-title="TAM Pool Usage" data-moreinfo="Last 2 hours at 5 minute intervals"> style="background-color:#fff"> </div>
    </li>
  </ul>
</div>
